body {
    font-family: 'Arial', sans-serif;
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #392B44;
    padding: 10px 20px;
    color: #FFFFFF;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 40px;
    margin-right: 10px;
}

.header .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #D3D3D3;
}

.header .logo a:hover {
    font-size: 20px;
    transition: all 0.3s;
    color: #00CC99;
}

.header .search-bar {
    flex-grow: 1;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.header .search-bar input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.header .search-bar button {
    padding: 8px;
    border: none;
    background-color: #584275;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.header .profile img {
    height: 25px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    gap: 20px; 
}

.image-upload {
    width: 350px;
    height: 350px;
    background-color: #D3D3D3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 24px;
    color: #333333;
}

.image-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-image-input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.product-info {
    position: relative;
    left: 1000px;
    top: -300px;
    flex: 1; 
    max-width: 450px; 
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.product-info .form-group {
    margin-bottom: 20px;
}

.product-info .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

.product-info .form-group input,
.product-info .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    background-color: #E6E3E3;
}

.product-info .sizes .sizes-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-info .sizes .sizes-options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-info .colors .add-color-btn {
    display: inline-block;
    padding: 10px;
    border: 1px solid #333333;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
}

.product-info .price .price-input {
    display: flex;
    align-items: center;
}

.product-info .price .price-input span {
    font-size: 20px;
    margin-right: 5px;
}

.product-info .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #00CC99;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
}
