@font-face {
    font-family: "feilla";
    src: url(../font/feilla/Feilla.ttf);
}

body {
    width: 200vh;
    height: auto;
    font-family: "feilla";
    background: #9aa8cf;
}

.cad {
    text-align: center;
    font-family: "feilla";
}

fieldset {
    border: 3px solid;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    background: #fff;
}

input {
    width: 600px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    margin-right: 0;
    border-radius: 20px;
    font-size: 25px;
    border: 0;
    background: rgb(70, 70, 134);
    color: #fff;
    box-sizing: border-box;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

button {
    width: 200px;
    height: 45px;
    font-size: 35px;
    border: 3px solid #000;
    border-radius: 12px;
    background: #fff;
    margin-top: 20px;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}

.form-row {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}
